#AIRFLOW_UID=

#_AIRFLOW_WWW_USER_USERNAME=
#_AIRFLOW_WWW_USER_PASSWORD=

#_PIP_ADDITIONAL_REQUIREMENTS=pandas s3fs boto3

#POSTGRES_USER=
#POSTGRES_PASSWORD=
#POSTGRES_DB=

#MINIO_ROOT_USER=
#MINIO_ROOT_PASSWORD=

#JUPYTER_ENABLE_LAB=yes
#JUPYTER_TOKEN=